
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ChaseTest</title>
<link href="public/css/main.css" rel="stylesheet" type="text/css">
<link href="public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="public/js/jquery-1.12.4.min.js"></script>
<script src="public/js/index.js"></script>
</head>

<body>
    <ul class="nav">
        <li><a href="about" target="_blank">About</a></li>
        <li><a href="" target="_blank">Work</a></li>
        <li><a href="" target="_blank">Contact</a></li>
      </ul>
	<div class="img-container">
<img src="public/images/header-image.JPG">
<p class="desc">Hey, I'm Chase</p>
</div>

	<nav>
		<div class="menu">
            {% for category in categories %}
            <a href="/{{category._id}}">{{category.name}}</a>
            {% endfor %}
	    </div>
	</nav>

	

    <main class="clear">
        <div class="mainLeft">
            
            <div class="listBox">
                <h1>Chase Introduction</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    time：<span class="colInfo">2016/7/19 1:3:31</span> - 
                    read：<span class="colInfo">231</span> - 
                    comment：<span class="colInfo">10</span>
                </p>
                <dfn><p>SIT 313 Learnning</p></dfn>
                <div class="function"><a href="">Read</a></div>
            </div>
            
            <div class="listBox">
                <h1>SIT305</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    time：<span class="colInfo">2016/7/19 1:1:37</span> - 
                    Read：<span class="colInfo">93</span> - 
                    Comment：<span class="colInfo">1</span>
                </p>
                <dfn><p>SIT 374 learning</p></dfn>
                <div class="function"><a href="">Read</a></div>
            </div>
            
            <div class="listBox">
                <h1>DOM</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    Time：<span class="colInfo">2016/7/20/ 16:24:38</span> - 
                    Read：<span class="colInfo">95</span> - 
                    Comment：<span class="colInfo">41</span>
                </p>
                <dfn><h2>DOM - Document Object Model</h2>

<!-- <blockquote><p>文档对象模型</p></blockquote></dfn> -->
                <div class="function"><a href="">Read</a></div>
            </div>
            

            <div class="pager">
            	<ul class="clear">
            		
            		<li class="previous">
            		
            			<a href="">None/a>
            		
            		</li>

            		<li>
            			<strong>1 / 2</strong>
            		</li>

            		<li class="next">
            		
            			<a href="/2">Next Page</a>
            		
            		</li>
            		
            	</ul>
            </div>
        </div>

        <div class="mainRight">
            
            {% if userInfo._id %}
            <div class="rightBox" id="userInfo">
                <div class="title"><span>UserInformation</span></div>
                <p><span class="colDark">{{userInfo.username}}</span></p>
                {% if userInfo.isAdmin %}
                <p>
                    <span class="colDanger">Hello，admin！</span>
                    <a href="/admin">Going to management</a>
                </p>
                {% else %}
                <p><span class="colDanger">Hello！Welcome to Chase's individual page</span></p>
                {% endif %}
                <!-- <div id = "exitBox" class="line"><span class="colDark"></span><button>Exit</button></div> -->
                <p><span class="colDark logoutBtn"><a href="javascript:void(0);" id="logout">Log out</a></span></p>
            </div>
            {% else %}
            <div class="rightBox" id="loginBox">
                <div class="title"><span>Log In Right Now!</span></div>
                <div class="line"><span class="colDark">Email：</span><input type="text" name="username" /><em></em></div>
                <div class="line"><span class="colDark">PassWord：</span><input type="password" name="password" /><em></em></div>
                <div align = "center" class="line"><span class="colDark"></span><button>Log In</button></div>
                <div class="line" align = "center"><p class="textRight">Do not have an account?  <a href="javascript:;" class="colMint">Register now!</a>　</p></div>
                <p class="colWarning textCenter"></p>
            </div>
            <div class="rightBox" id="registerBox" style="display: none;">
                <div class="title"><span>Register</span></div>
                <!-- <div class="line"><span class="colDark">国家：</span><input name="country" type="text" /></div> -->
                <div class="line"><span class="colDark"><select class ="countryList" name="country"><option></option></select></span></div>
                <div class="line"><span class="colDark">firstname：</span><input name="first_name" type="text" /></div>
                <div class="line"><span class="colDark">lastname：</span><input name="last_name" type="text" /></div>
                <div class="line"><span class="colDark">logInEmail：</span><input name="username" type="text" /></div>
                <div class="line"><span class="colDark">otherEmail：</span><input name="email" type="text" /></div>
                <div class="line"><span class="colDark">password：</span><input name="password" type="password" /></div>
                <div class="line"><span class="colDark">Confirm-password：</span><input name="repassword" type="password" /></div>
                <div class="line"><span class="colDark">City：</span><input name="city" type="text" /></div>
                <div class="line"><span class="colDark">Region：</span><input name="region" type="text" /></div>
                <div class="line"><span class="colDark">Address：</span><input name="address" type="text" /></div>
                <div class="line"><span class="colDark">Postal_code：</span><input name="zip_postal_code" type="text" /></div>
                <div class="line"><span class="colDark">Telephone：</span><input name="tel" type="text" /></div>


                <div align = "center" class="line"><span class="colDark"></span><button>Register Now</button></div>
                <p class="textRight">Already have an account? <a href="javascript:;" class="colMint">Log in right now!</a>　</p>
                <p class="colWarning textCenter"></p>
            </div>
            {% endif %}


            <div class="rightBox">
                <div class="title"><span>Community</span></div>
                    <p><a href="" target="_blank" class="colDanger">Deakin Library</a></p>
                    <p><a href="" target="_blank" class="colDanger">Deakin Cloud</a></p>
                </div>
            </div>


    </main>

        
        

	<!-- <div class="copyright textCenter">Copyright © miaov.com 版权所有 | 京ICP备08102442号</div> -->
</body>
</html>